.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.users {
    display: flex;
    flex-wrap: wrap;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 10px;
}

.selectedPage {
    font-weight: bold;
}

.pagination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.pagination span {
    cursor: pointer;
}