.nav {
    width: 25%;
    background-color: #D9D9D9;
    padding: 30px;
}

.item {
    color: white;
    text-decoration: none;
    width: 150px;
    margin-bottom: 20px;
}

.item a{
    color: white;
    text-decoration: none;
    width: 150px;
    margin-bottom: 20px;
    font-size: 30px;
}

.item:last-child{
    margin-top: 100px;
}

.item a:hover {
    transition: 2s;
    transform: scale(2);
    color: black;
}

.item a.active_link {
    color: grey;
}