.item {
    display: flex;
    border: 1px solid #F4F4F4;
    margin-bottom: 20px;
    padding: 40px;
    gap: 30px;
    border-radius: 20px;
}

.item img {
    width: 70px;
    border-radius: 20px;
}
