.container {
    width: 1400px;
    margin: 0 auto;
}

.header-logo {
    width: 40px;
}

.main-section {
    display: flex;
}

.main-content {
    width: 77%;
    background-color: aqua;
}

.nav {
    width: 33%;
    background-color: red;
}

.footer {
    background-color: orange;
}

.header {
    background-color: blue;
}

.fon {
    width: 100%;
}

.profile-info {
    display: flex;
    gap: 40px;
}

.profile-info img {
    width: 200px;
}
