.container {
    width: 1400px;
    margin: 0 auto;
}

.main-section {
    display: flex;
    background-color: aquamarine;
}

.fon {
    width: 100%;
}

.profile-info {
    display: flex;
    gap: 40px;
}

.profile-info img {
    width: 200px;
}
