.container {
    width: 1400px;
    margin: 0 auto;
    background-color: #D9D9D9;
    border-radius: 40px;
}

.main-section {
    display: flex;
    background-color: #FFFFFF;
}

/*.fon {*/
/*    width: 100%;*/
/*}*/

.main {
    padding: 40px;
    width: 67%;
}
