.dialogs {
    display: flex;
    width: 100%;
}

.dialogs_item{
    width: 20%;
}

.dialogs_item .active{
    width: 20%;
    font-weight: bold;
}

.dialog {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.dialog img{
    width: 60px;
    border-radius: 50%;
}

.messages {
    width: 80%;
}

.message {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}
